*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{ 
    --orange:#F98500;
    --dark-orange:#C55B00;
    --balanced-white:#FFFAF5;
    --white:#fff;
    --black:#000;
    --light-orange:#FFB969;
    --header1:3rem;
    --para:1rem;
    --secondary:0.813rem;
    --additional:1.5rem;
}

.nav-text{
    font: var(--secondary) var(--black);
    opacity: 0.6;
}

.button-text1{
    font: var(--secondary) var(--white);
}

.btn-bg{
    color: var(--white);
    background-color: var(--orange);
    padding: 10px 30px;
    border: none;
    border-radius: 0.438rem;
    font-family: 'KronaOne-Regular', sans-serif;
    text-transform: uppercase;
}
.button-text2{
    font: var(--secondary) var(--orange);
}

.header{
    font: var(--header1)var(--orange);
}

.para-text{
    font: var(--secondary) var(--black);
    opacity: 0.7;
}

.description{
    font: var(--orange)var(--additional);
}

body{
    font-family: 'Outfit', sans-serif;
}

.navbar-text{
    font-size: 13px;
}
