*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Outfit', sans-serif;
}
=======
>>>>>>> 0932346c3afd2317a40cdce0c2985e051e3e3dfe
