*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{ 
    --orange:#F98500;
    --dark-orange:#C55B00;
    --balanced-white:#FFFAF5;
    --white:#fff;
    --light-orange:#FFB969;
    --

}
body{
    font-family: 'Outfit', sans-serif;
}

.navbar-text{
    font-size: 13px;
}
/*Section2*/
